body {
    background-color: #838df5;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
}

h1 {
    color: #000079;
    text-align: left;
}

h3 {
    color: #163e87;
    text-align: left;
}

div {
    color: #18187c;
}